<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kuanysh Blog</title>
</head>

<body>
    <p>Hi there!</p>
    <p>It works!</p>

    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Zhesen zhe zhemesen zheme</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Zhesen zhe zhemesen zheme</p>
    </div>
</body>

</html>